section.input-wrapper-1 {
    display: grid;
    gap: 1.5rem;

    & .colors {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 4.6875rem;

        & .color-wrapper {
            display: flex;
            gap: 1.25rem;
            padding-top: .5rem;
            padding-left: .25rem;
            justify-content: space-evenly;

            & .color-inner {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 999px;
                outline: 2px solid var(--shape-button);
                background-color: var(--shape-background);
                position: relative;
                border: 4px solid var(--shape-button);

                transition: .2s all ease;

                &:hover {
                    outline: 4px solid var(--shape-hover);
                }

                &:focus-within {
                    outline: 2px solid var(--brand-light);
                }
    
                & input {
                    border: none;
                    width: 1.9rem;
                    height: 1.9rem;
                    border-radius: 50%;
                    background: none;
                    position: absolute;
                    left: 3%;
                    top: 3%;

                    &:focus {
                        outline: none;
                    }
                }
    
                & input[type="color"]::-webkit-color-swatch-wrapper {
                    padding: 0;
                    border: none;
                    border-radius: 50%;
                }
    
                & input[type="color"]::-webkit-color-swatch {
                    border: none;
                    border-radius: 50%;
                }
    
            }
        }

        

    }
}