section.input-wrapper-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & form {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;

        & input {
            background-color: var(--input-base);
            padding-inline: 1rem;
            padding-block: .875rem;
            border-radius: .5rem;
            border: 1px solid var(--input-stroke);
            color: var(--text-body);
            outline: 0;

            &::placeholder {
                color: var(--input-placeholder);
                font-size: 1rem;
                font-family: "Open Sans", sans-serif;
                border-bottom: 1px solid var(--input-placeholder);
                opacity: 70%;
                width: fit-content;
            }

            &:focus {
                outline: 1px solid var(--brand-light);
                outline-offset: -1px;
            }
        }

        }

        & .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: .75rem;
        }

        & .email-phone-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            & .mail-wrapper {
                display: flex;
                flex-direction: column;
                gap: .75rem;
            }
        }
    }