.header {
    margin-bottom: 2.5rem;
}

form {
    display: grid;
    gap: 1.5rem;

& .frame {
    display: flex;
    gap: .75rem;
    align-items: center;

    & img {
        width: 1.5rem;
        opacity: .6;
    }
}

section.input-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "title title"
    "start end"
    "type location"
    "area area"
    "area area";

    & input {
      background-color: var(--input-base);
      padding-inline: 1rem;
      padding-block: .875rem;
      border-radius: .5rem;
      border: 1px solid var(--input-stroke);

      &::placeholder {
        color: var(--input-placeholder);
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        border-bottom: 1px solid var(--input-placeholder);
        opacity: 70%;
        width: fit-content;
      }
    }

    input:focus,
    select:focus,
    textarea:focus {
      outline: 1px solid var(--brand-light);
      border: .5px solid var(--brand-light);
    }
}

.input-wrapper-1 {
    grid-area: title;
    display: grid;
    gap: .75rem;
  }
  
.input-wrapper-2 {
    grid-area: start;
  }
  
.input-wrapper-3 {
    grid-area: end;
  }
  
.segmented-control {
    grid-area: type;
  }
  
.input-wrapper-4 {
    grid-area: location;
  }
  
.area-wrapper {
    grid-area: area;
  }

}