.header {
    margin-bottom: 2.5rem;
}

form {
    display: grid;
    gap: 1.5rem;

& .frame {
    display: flex;
    gap: .75rem;
    align-items: center;

    & img {
        width: 1.5rem;
        opacity: .6;
    }
}

section.input-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "title title"
    "start end"
    "type location"
    "area area"
    "area area";

    & input {
      background-color: var(--input-base);
      padding-inline: 1rem;
      padding-block: .875rem;
      border-radius: .5rem;
      border: 1px solid var(--input-stroke);

      &::placeholder {
        color: var(--input-placeholder);
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        border-bottom: 1px solid var(--input-placeholder);
        opacity: 70%;
        width: fit-content;
      }
    }

    input:focus,
    select:focus,
    textarea:focus {
      outline: 1px solid var(--brand-light);
      border: .5px solid var(--brand-light);
    }
}

.input-wrapper-1 {
    grid-area: title;
    display: grid;
    gap: .75rem;
  }
  
.input-wrapper-2 {
    grid-area: start;
    display: grid;
    gap: .75rem;
  }
  
.input-wrapper-3 {
    grid-area: end;
    display: grid;
    gap: .75rem;
  }
  
.segmented-control {
    grid-area: type;
    display: grid;
    gap: .75rem;

    & .radio-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: .25rem;
      gap: .25rem;
      background-color: var(--input-base);
      border-radius: .5rem;
      border: 1px solid var(--input-stroke);

      & .label-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: .25rem;
        
        height: 1.8rem;

        position: relative;
        transition: .2s all ease;

        & input,
        & input:focus,
        & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
      }

        & label {
          border-bottom: 2px solid var(--text-body);
          opacity: .5;
        }

        & img {
          width: 1rem;
          height: auto;
        }

        &:hover,
        &:focus-within {
          border-radius: .25rem;
          background-color: var(--input-stroke);
          

          & label {
            opacity: 1;
          }

          & img {
            filter: invert(57%) sepia(88%) saturate(725%) hue-rotate(182deg) brightness(101%) contrast(104%);
          }
        }
      }

    }
  }
  
.input-wrapper-4 {
    grid-area: location;
    display: grid;
    gap: .75rem;
  }
  
.area-wrapper {
    grid-area: area;
    display: grid;
    gap: .75rem;
  }

}