* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --danger-color: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

html {
    font: 500 1rem/1.0 "Open Sans", sans-serif;
    color: var(--text-body);
    
}

body {
    background-color: var(--shape-background);
    overflow: hidden;
    width: 100%;
}

#forms {
    width: 35rem;
    margin-inline: auto;
    display: grid;
    gap: 3rem;
    margin: 0;
}

h1 {
   font: 500 2.5rem/1.0 "Leckerli One", sans-serif; 
   color: #FF598B;
}

h2, h3 {
    color: var(--text-heading);
}

h2 {
    font-size: 1.75rem;
    font-family: "Baloo 2", sans-serif;
    border-bottom: 2px solid white;
    width: fit-content;
}

h3 {
    font-size: 1.125rem;
    font-family: "Baloo 2", sans-serif;
    border-bottom: 2px solid white;
    width: fit-content;
}

label {
    font-size: .875rem;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid var(--text-body);
    width: fit-content;
}